.side-bar {
  width: 70px;
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  
}

.sidebar-link {
  height: 55px;
  background-color: white;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}

.sidebar-link:hover {
  background-color: rgb(240,240,240,0.8);
  cursor: pointer;
}

.home-icon {
  width: 26px;
}

.shorts-icon {
  width: 30px;
}

.subscriptions-icon {
  width: 24px;
}

.you-icon {
  width: 40px;
}

.sidebar-link div {
  font-family: Roboto,Arial;
  font-size: 10px;
  margin-top: 10;
}

@media (min-width: 500px) and (max-width: 700px) {
  .side-bar {
    opacity: 0;
  }

  body {
    padding-left: 0;
  }

  .header2 {
    margin-left: 10px;
  }
}